#home {
  background-color: $red;
  color: $light-gray;
  margin: 8vh;
  margin-bottom: 0;
  height: calc(84vh);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.title h1 {
  color: $light-gray;
  font-size: 96px;
  line-height: 120%;
  font-weight: bold;
  letter-spacing: 4px;
}

.scroll {
  height: 8vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  color: $dark;

  a {
    font-size: 16px;
    color: $dark;
  }
  a:hover {
    transition: all 0.3s ease 0s;
    font-size: 16px;
    color: $red;
    text-decoration: none;
  i:hover {
    transition: transform 1s;
    transform: rotate(360deg);
  }

  }
}

#manifesto{
  height:92vh;
  background-color: $light-gray;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-direction: column;
  h2{
    font-size: 48px;
  }
  p{
    font-size: 32px;
  }
}


#contact{
  height:92vh;
  background-color: $dark;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  h2{
    font-size: 48px;
    color: $light-gray;
  }
  p{
    font-size: 24px;
    color:$light-gray
  }
}



.shake {
  display:inline-block
}
.shake {
  display:block;
  position:relative;
}

h2.shake,
.shake.inline {
  display:inline-block
}

@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover,
.shake:focus {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}




