---
title: Young Blood Films - World Sales
---

<div id="home">
  <div class="home-content">
    <div class="title shake">
     <h1>YOUNG BLOOD</h1>
    </div>
  </div>

</div>
<div class="scroll">
  <p>
    <a href="#manifesto">
    Manifesto
    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
  </a>
  </p>
</div>
<div id="manifesto">
  <h2>Manifesto</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi vel delectus, perspiciatis dignissimos omnis similique, error. Explicabo assumenda facere culpa provident a, voluptates ducimus, molestias perspiciatis maiores, optio dignissimos repellendus?</p>
</div>
<div class="scroll">
  <p>
    <a href="#contact">
    <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
  </a>
  </p>
</div>
<div id="contact">
  <p>WORLD SALES <br/> <b>Arnaud Godard </b><br/>arnaud.godart.@youngblood.tv<br/>+33 6 15 90 18 19</p>
  <p>MARKETING <br/> <b>Mathieu Abeille</b><br/>mathieu.abeille@youngblood.tv<br/>+33 6 30 89 08 88</p>
  <p>YOUNG BLOOD FILMS<br/>
  10 Rue Hautefeuille<br/> 75006 Paris</p>
</div>

<div class="scroll">
  <p>
    <a href="#index">

    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
  </a>
  </p>
</div>
